// antialiased,subpixel-antialiased,none
$font-smoothing = antialiased
// auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering = auto
$base-color = #fff
$main-color = #389
$accent-color = #900
$base-font-family = "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif
$base-font-size-pc = 16px
$base-font-size-sp = 14px
$base-font-color = $main-color
$base-background-color = $base-color
$grid-split-pc = 24
$grid-split-sp = 12
$break-point-tb = 768px
$break-point-pc = 1024px
$img-path = "../images/"
